@model SistemaVentas.Models.Proyectos

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Proyectos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Fecha de Creación
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Importe)
        </dt>

        <dd>
            $@Html.DisplayFor(model => model.Importe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Porcentaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Porcentaje)
        </dd>
        <dt>
            Fecha de Cierre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCierre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            Vendedor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendedores.Apellido)
        </dd>
        <dt>
            Documento Relacionado
        </dt>

        <dd>
            <a href=@Html.DisplayFor(model => model.LinkNube)>@Html.DisplayFor(model => model.LinkNube)</a>
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.IdProyecto }) |*@
    @Html.ActionLink("Volver a la lista", "Listar")
</p>
